<h1>Our Menu</h1>

<% for(var i=0; i < menu.meals.length; i++){ %>
  <a href="/menu/<%= i+1 %>"><%= menu.meals[i].name  %></a> | Course: <%= menu.meals[i].course %>
  </br></br>
<% } %>

<a href="/menu/new">Add New Meal</a>